@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  top: 0 !important;
}

.skiptranslate, #google_translate_element {
  display: none !important;
}

/* Google Maps iframe styling */
iframe {
  width: 100% !important;
  height: 100% !important;
}
